@{
    ViewBag.Title = "UserNotExits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>You are not invited to any group, you want to create your group? or request permission to an existing?</h3>

<button type="button" class="btn btn-primary">Create</button>
<button type="button" class="btn btn-primary">Request</button>