@model LunchVoterFromHell2.Models.Index

@{
    ViewBag.Title = "Home Page";
}
<div style="margin:auto; width:600px;">
    <div style = "float:left; width:300px;">
        @if (Model.Ranking.Count == 0)
        {
            <h3>Ninguem votou hoje.</h3>
        }
        @foreach (var item in Model.Ranking)
        {
            <p>@item.votesCount - @item.restaurant.Name</p>
            <br />
        }
    </div>
    <div style ="float:left;">
        @using (Html.BeginForm("Create", "Voto", FormMethod.Post))
        {
            @Html.DropDownListFor(model => model.idRestaurant, Model.restaurants.Select(x => new SelectListItem(){Text = String.Concat("R$", x.Price, " - ", x.Name), Value = x.Id.ToString()}));
            <input type="submit" value="Votar" />
        }
    </div>
</div>